# User configuration
PATH=$PATH:/Applications/VirtualBox.app/Contents/MacOS/
export MAMP_PHP=/Applications/MAMP/bin/php/php7.1.8/bin
export PATH=$PATH:/Applications/MAMP/Library/bin/
export PATH="$MAMP_PHP:$PATH"
export PATH=$PATH:~/bin
export PATH=$PATH:~/.composer/vendor/bin
# export PATH="vnu-runtime-image/bin"
export PATH
#export PYTHONPATH=`brew --prefix`/lib/python3.7/site-packages:$PYTHONPATH

# Path to your oh-my-zsh installation.
export ZSH="$HOME/.oh-my-zsh"

# Set name of the theme to load --- if set to "random", it will
# load a random theme each time oh-my-zsh is loaded, in which case,
# to know which specific one was loaded, run: echo $RANDOM_THEME
# See https://github.com/robbyrussell/oh-my-zsh/wiki/Themes
POWERLEVEL9K_MODE='awesome-fontconfig'
ZSH_THEME="powerlevel9k/powerlevel9k"

POWERLEVEL9K_PROMPT_ON_NEWLINE=true
POWERLEVEL9K_PROMPT_ADD_NEWLINE=true
POWERLEVEL9K_MULTILINE_FIRST_PROMPT_PREFIX=""
POWERLEVEL9K_MULTILINE_LAST_PROMPT_PREFIX="\n🚀 "
POWERLEVEL9K_LEFT_PROMPT_ELEMENTS=(os_icon vcs dir)
POWERLEVEL9K_CUSTOM_LINE='zsh_line'
POWERLEVEL9K_RIGHT_PROMPT_ELEMENTS=(status time)
POWERLEVEL9K_OS_ICON_BACKGROUND='green'
POWERLEVEL9K_OS_ICON_FOREGROUND='black'
POWERLEVEL9K_SHORTEN_DIR_LENGTH=1
POWERLEVEL9K_TIME_FORMAT="%D{%H:%M}"

# Uncomment the following line if pasting URLs and other text is messed up.
# DISABLE_MAGIC_FUNCTIONS=true

# Enable command auto-correction.
ENABLE_CORRECTION="true"

# Uncomment the following line to display red dots whilst waiting for completion.
# COMPLETION_WAITING_DOTS="true"

# Uncomment the following line if you want to disable marking untracked files
# under VCS as dirty. This makes repository status check for large repositories
# much, much faster.
# DISABLE_UNTRACKED_FILES_DIRTY="true"

# Would you like to use another custom folder than $ZSH/custom?
# ZSH_CUSTOM=/path/to/new-custom-folder

# Which plugins would you like to load?
# Standard plugins can be found in ~/.oh-my-zsh/plugins/*
# Custom plugins may be added to ~/.oh-my-zsh/custom/plugins/
# Example format: plugins=(rails git textmate ruby lighthouse)
# Add wisely, as too many plugins slow down shell startup.
plugins=(git zsh-autosuggestions)

source $ZSH/oh-my-zsh.sh

# add support for ctrl+o to open selected file in VS Code
export FZF_DEFAULT_OPTS="--bind='ctrl-o:execute(code {})+abort'"

# export MANPATH="/usr/local/man:$MANPATH"

# You may need to manually set your language environment
# export LANG=en_US.UTF-8

# Preferred editor
export EDITOR=nvim

# Compilation flags
# export ARCHFLAGS="-arch x86_64"

# Set personal aliases, overriding those provided by oh-my-zsh libs,
# plugins, and themes. Aliases can be placed here, though oh-my-zsh
# users are encouraged to define aliases within the ZSH_CUSTOM folder.
# For a full list of active aliases, run `alias`.
#

# Welcome Message
if [ "$TERM" = "ansi" ] || [ "$TERM" = "xterm-256color" ] && [ "$TERM_PROGRAM" != "vscode" ]
	then
	printf "\e[92m"
cat << "EOF"
    ______           __                     __
   / ____/  ______  / /___  _________ _____/ /___  _____
  / __/ | |/_/ __ \/ / __ \/ ___/ __ `/ __  / __ \/ ___/
 / /____>  </ /_/ / / /_/ / /  / /_/ / /_/ / /_/ / /
/_____/_/|_/ .___/_/\____/_/   \__,_/\__,_/\____/_/
          /_/
EOF
	printf "\e[0m"
fi

# Reload .zshrc
alias zreload='source ~/.zshrc && echo .zshrc reloaded!'

# Reload command with sudo
alias please='sudo !!'

# npm install fix
alias npmplease='rm -rf node_modules/ && rm -f package-lock.json && npm install'

#export NODE_PATH=/opt/lib/node_modules

# Update brew
alias brewery='brew update && brew upgrade && brew cleanup'

# ls aliases
alias l='ls -CF'
alias la='ls -A'
alias ll='ls -alF'
alias lh='ls -Shl' # Sort files by size

# cat alias
alias cat='bat'

# stat alias
alias stat='stat -x'

# Chezmoi (Dotfiles manager)
alias dotfiles='chezmoi'

# NVM
export NVM_DIR="$([ -z "${XDG_CONFIG_HOME-}" ] && printf %s "${HOME}/.nvm" || printf %s "${XDG_CONFIG_HOME}/nvm")"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh" --no-use # This loads nvm

export PATH="$HOME/.local/bin:$PATH"
